/* 공통 레이아웃 */
.sub-visual {
    padding: 28vh 0 12vh;
    background-size: auto 100%;
    background-position: center center;
    color: #fff;
    transition: all 2s linear;
    animation: bgscale 5s ease;
}
@keyframes bgscale{
    0%{
        background-size: auto 120%;
        background-position: 20% center;
    }
    100%{
        background-size: auto 100%;
        background-position: center center;
    }
}
.sub-visual ul li a span{
    display: inline-block;
    margin: 0 16px 0 8px;
    font-size: clamp(11px, 2vw, 16px);
    font-weight: 600;
    color: var(--whiteColor);
}
.sub-visual ul li h1{
    margin-left: 2vw;
    font-size: clamp(30px, 6vw, 40px);
}

.sub-visual.about.bg-about {
    background-image: url('/public/images/bg_about.png');
}
.sub-visual.business.bg-business {
    background-image: url('/public/images/bg_business.png');
}
.sub-visual.bg-hr{
    background: #000;
    filter: invert(1);
}
.sub-visual.bg-news{
    background: #030303;
    filter: invert(1);
}
.sub-visual.sub-board.bg-news ~ .tab-menu{
    background: #f9f9f9;
}
.sub-visual.sub-board.bg-news ~ .tab-menu .inner a{
    background: #fff;
}
.sub-visual.sub-board{
    padding:18vh 0 5vh;
}
.sub-visual.sub-board ul li a{
    opacity: 0.5;
}
.sub-visual.sub-board ~ .tab-menu{
    padding-bottom: 6vh;
    height: auto;
    background: none;
}
.sub-visual.sub-board ~ .tab-menu .inner{
    padding: 0 20px;
    gap: 1vw;
    align-items: center;
}
.sub-visual.sub-board ~ .tab-menu .inner a{
    margin: 0;
    padding: 16px 56px;
    background: #f9f9f9;
    border-radius: 30px;
    border-right: 0;
    color: var(--grayColor3);
}
.sub-visual.sub-board ~ .tab-menu .inner a.active{
    background: var(--mainColor);
    color: var(--whiteColor);
}



@media (max-width: 767px) {
    .sub-visual{
        padding: 10vh 0 5vh;
    }
    .sub-visual ul{
        justify-content: center;
        flex-direction: column;
        gap: 2vh;
    }
    .sub-visual ul li a span{
        margin: 0 6px 0 5px;   
    }
    .sub-visual ul li a img{
        width: 6px;
    }
    .sub-visual ul li h1{
        margin-left: 0;
    }

    .sub-visual.sub-board{
        padding: 15vh 0 3vh;
    }
    .sub-visual.sub-board ~ .tab-menu .inner{
        justify-content: center;
    }
    .sub-visual.sub-board ~ .tab-menu .inner a{
        max-width: 140px;
        padding: 12px 0;
    }
    .sub-visual.sub-board ~ .tab-menu{
        padding-bottom: 4vh;
    }
}